/examples/Debug
/examples/ipch
/examples/Release
/examples/*.sdf
/examples/*.opensdf
/examples/*.suo
/bin/*.exe
/bin/*.pdb
/bin/*.ilk
/bin/*.mp4
/bin/*.avi
/examples/*.avi
/examples/*.mp4
/examples/*.user
/bin/*.exe
/Debug
/Release
/*.sdf
/*.opensdf
